packages/n8n-import/fixtures/code-translate.json
{
  "name": "Code Translate",
  "nodes": [
    {
      "id": "t1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": { "path": "code" }
    },
    {
      "id": "c1",
      "name": "Doubler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  out.push({ json: { doubled: item.json.value * 2 } });\n}\nreturn out;"
      }
    },
    {
      "id": "c2",
      "name": "Per Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { label: `#${$json.doubled}` } };"
      }
    },
    {
      "id": "c3",
      "name": "With Env",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0],
      "parameters": {
        "jsCode": "return [{ json: { region: $env.AWS_REGION } }];"
      }
    },
    {
      "id": "c4",
      "name": "Combine Refs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "jsCode": "const src = $('Doubler').all();\nreturn [{ json: { count: src.length, first: $json.label } }];"
      }
    },
    {
      "id": "c5",
      "name": "Needs Lodash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0],
      "parameters": {
        "jsCode": "const _ = require('lodash');\nreturn _.uniq($input.all());"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Doubler", "type": "main", "index": 0 }]] },
    "Doubler": { "main": [[{ "node": "Per Item", "type": "main", "index": 0 }]] },
    "Per Item": { "main": [[{ "node": "With Env", "type": "main", "index": 0 }]] },
    "With Env": { "main": [[{ "node": "Combine Refs", "type": "main", "index": 0 }]] },
    "Combine Refs": { "main": [[{ "node": "Needs Lodash", "type": "main", "index": 0 }]] }
  }
}
